@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
}
div.App {
    background-color: rgb(53, 53, 53);
    height: 100vh;
    width: 100vw;
    text-align: center;
}
main {
    background-color: white;
    display: inline-block;
    padding: 15px;
    margin-top: 30px;
    width: 450px;

    border-radius: 5px;
}
div.labels{
    margin: 10px 0;
}
div.labels label {
    display: block;
}
div.labels input {
    width: 90%;
    padding: 10px;
}
#Resultado {
    margin-top: 10;
}